.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.bomb {
  width: 30px;
  height: 30px;
  background: url('~/assets/image/icons.png') no-repeat;
  background-position: -300px;
}

.board {
  width: 270px;
  height: 270px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.stone {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  max-width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: outset;
}
